.spinner{
    display: flex;
    justify-content: center;
}

.spinning{
    animation: spinner 1s alternate-reverse infinite;
}

@keyframes spinner {  /* con esto hago que el spinner gire */
    to {
        transform: rotate(360deg); 
    }
}